{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-4"></div>
          <div class="panel-body col-4  mt-4">
              <h2 class="panel-head ">Events</h2>
              <div class="panel-list px-2">
                <ul class="item-list">
                  {% for item in hold %}
                  <li>
                    <a class="btn btn-info my-1 mx-1" href="{{item.get_absolute_url}}">{{item.event_name}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
          </div>
          <div class="col-4"></div>
        </div>
    </div>
{% endblock %}
