{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-4"></div>
          <div class="panel-body col-4  mt-4">
            <div class="panel-head">
              <h2 >Tag: {{tag}}</h2>
              <h6>Count: {{count}}</h6>
            </div>
              <div class="panel-list">
                <ul class="item-list">
                  {% for item in data %}
                  <li>
                    <a class="btn btn-info my-1 mx-1" href="{{item.get_absolute_url}}">{{item}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="panel-footer bg-secondary row justify-content-center mx-0 py-2">
                <a class="col-4 mx-auto my-2 d-inline-block btn btn-success text-white pr-2" href="{{tag.get_update_url}}">Edit Name</a>
                <a class="col-4 mx-auto my-2 d-inline-block btn btn-danger text-white pr-2" href="{% url 'tag-delete' pk=tag.id%}">Delete Tag</a>
                <button class="col-10 mx-auto my-2 d-inline-block btn btn-primary text-white pr-2" data-toggle="modal" data-target="#csvModal">Export to CSV</button>
              </div>
          </div>
          <div class="col-4"></div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="csvModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Data Export </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Export Tag: {{tag}} to CSV File
          </div>
          <div class="modal-footer">
            <a href="{% url 'tag-csv' pk=tag.id%}" type="button" class="btn btn-primary">Confirm Export</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
